{% extends 'base.html' %}

{% block head %}
    <script src="static/js/users.js"></script>
{% endblock %}

{% block body %}

<input type="text" oninput="loadUsers()" id="search" placeholder="Filter...">

<div id = "userDisplay">
    <!-- Contents displayed in JavaScript -->
</div>

<!--
{% for user in users %}
    Name: {{ user['name']}} </br>
    Email: {{ user['email']}} </br>
    {% for semester in user['semesters'] %}
        Year: {{ semester['year']}} </br>
        {% for class in semester['classes'] %}
            Class: {{ class }} </br>
        {% endfor %}
    {% endfor %}
</br></br>
{% endfor %}
-->
{% endblock %}